/* Forms */

.form-group {
	margin-bottom: 1.5rem;
}
.input-group-append,
.input-group-prepend {
	color: $input-placeholder-color;
	width: auto;
	border: none;

	.input-group-text {
		border-color: $border-color;
		padding: $input-padding-y 0.75rem;
		color: $input-placeholder-color;
	}
}
.form-control {
	border: 1px solid $border-color;
	font-weight: 400;
	font-size: $input-font-size;
}

select {
	&.form-control {
		padding: 0.4375rem 0.75rem;
		border: 0;
		outline: 1px solid $border-color;
		color: $input-placeholder-color;
		&:focus {
			outline: 1px solid $border-color;
		}
		@each $color, $value in $theme-colors {
			&.border-#{$color} {
				outline: 1px solid $value;
				&:focus {
					outline: 1px solid $value;
				}
			}
		}
	}
}
.form-group {
	label {
		font-size: $default-font-size;
		line-height: 1.4rem;
		vertical-align: top;
		margin-bottom: 0.5rem;
	}
	&.has-danger {
		.form-control {
			border-color: theme-color(danger);
		}
	}
	.file-upload-default {
		visibility: hidden;
		position: absolute;
	}
	.file-upload-info {
		background: transparent;
	}
}

.form-select {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.625rem + 2px);
	padding: 0.3125rem 1rem !important;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #344050;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #d8e2ef !important;
	border-radius: 0.25rem;
	-webkit-transition: border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	outline: unset;
}

.required {
	color: #ff4747;
	font-size: 14px;
}

.inputStyleError {
	border: 1px solid #ff4747;
}
